body {
  margin: 0;
  font-family: sans-serif;
  min-width: 1000px;
}

.header {
  width: 100%;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 103vh;
  max-height: 780px;
}

#header-content {
  float: right;
  margin-right:5%;
  width: 450px;
  height: 100%;
  background: rgba(102, 157, 244, 0.4);
}

#nav {
  width: 98%;
  padding-right: 2%;
}

#nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

#nav a:hover {
  color: #669df4;
}

#nav a.active {
  color: #669df4;
}

#content {
  text-align: center;
  margin-top: 60%;
  color: white;
}

#navbar {
  background-color: rgba(102, 157, 244, 0.6);
  z-index: 100;
  top:0px;
  position: fixed;
  width: 100%;
  padding-left: 25%;
  visibility: hidden;
}

#navbar a {
  width:10%;
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  color: black;
}


#about {
  padding: 20px 7.5%;
}

.project1 {
  width: 150%;
  height: 100%;
  margin-top:-10%;
  margin-left: -10%;
  transform: rotate(-7.5deg);
  padding-bottom: 5%;
}

#project1-content {
  color: white;
  padding-left: 12.5%;
  padding-right: 32.5%;
  padding-top: 10%;
  transform: rotate(7.5deg);
  line-height: 175%;
}

.project2 {
  width: 150%;
  height: 100%;
  margin-top:-10%;
  margin-left: -10%;
  transform: rotate(7.5deg);
  padding-bottom: 10%;
}

#project2-content {
  color: white;
  padding-left: 12.5%;
  padding-right: 32.5%;
  padding-top: 1%;
  transform: rotate(-7.5deg);
  line-height: 175%;
}

#back {
  background-color: white;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}